@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');

:root{
	--primary: #6200EE;
	--primary-dark: #3700B3;
	--primary-light: #BB86FC;
    --secondary: #03DAC6;
	--secondary-dark: #018786;

    --background: #FFFFFF;
    --surface: #FFFFFF;
	--error: #B00020;

	--on-primary: #FFFFFF;
	--on-secondary: #000000;
	--on-background: #000000;
	--on-surface: #000000;
	--on-error: #FFFFFF;
}

body{
	font-family: 'Roboto', sans-serif;
	background-color: var(--background);
}
*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

a{
	color: unset;
	text-decoration: none;
}
input[type='text'], input[type='submit'], select, textarea{
	width: 100%;
	padding: 5px 10px;
	font-size: 1.2em;
}
input[type='submit']{
	width: auto;
}
.qa-body-wrapper{

}

/* header */
.qa-header{
	
}
.qa-header-clear{
	height: 56px;
}
.qa-logo{
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 56px;
	padding-top: 12px;
	/* Mobile Landscape: 48dp
	Mobile Portrait: 56dp
	Tablet/Desktop: 64dp */
	background-color: var(--primary);
	box-shadow: 0 2px 3px gray;
}
.qa-logo-link{
	margin-top: 12px;
	margin-left: 45px;
	font-size: 24px;
	color: var(--on-primary);
}
#menu-toggle{
	position: fixed;
	top: 26px;
	left: 10px;
	color: var(--on-primary);
	font-size: 30px;
}
#search-toggle{
	position: fixed;
	top: 26px;
	right: 50px;
	color: var(--on-primary);
	font-size: 30px;
	z-index: 2;
}
#user-toggle{
	position: fixed;
	top: 10px;
	right: 10px;
	color: var(--on-primary);
	font-size: 30px;
	width: 36px;
	height: 36px;
	overflow: hidden;
	border-radius: 50%;
	border: 2px solid white;
}
#user-toggle img{
	width: 100%;
	height: auto;
}
#user-toggle i{
	font-size: 36px;
	margin-left: -2px;
}
#search-toggle.active{
	left: 10px;
}
.qa-nav-user, .qa-search, .qa-nav-main{
	display: none;
}
.qa-nav-user{
	position: fixed;
	top: 40%;
	left: 50%;
	transform: translate(-50%, -50%);
	background-color: var(--surface);
	padding: 20px;
	border-radius: 20px;
	box-shadow: 1px 1px 10px grey;
	width: 300px;
	height: 50vh;
}
#qa-nav-user.active .qa-nav-user{
	display: block;
}
.qa-nav-user-list{
	list-style: none;
}
.qa-nav-user-item{
	padding: 10px;
}
.qa-nav-user-link{
	padding: 10px 20px;
}
.qa-search{
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	background-color: var(--primary);
	height: 56px;
}
#qa-search.active .qa-search{
	display: block;
}
.qa-search-field, .qa-search-button{
	padding: 10px !important;
	margin-top: 10px;
	border: none;
}
.qa-search-field{
	margin-top: 5px;
	margin-left: 45px;
	width: calc(100% - 99px) !important;
	background-color: unset;
	font-size: 20px;
}
.qa-search-button{
	width: 30px;
	background-color: unset;
	color: var(--on-primary);
}
.qa-search-button i{
	font-size: 30px;
}
.qa-nav-main{
	z-index: 2;
	position: fixed;
	top: 56px;
	left: 0;
	width: 300px;
	height: 100vh;
	background-color: var(--surface);
	box-shadow: 1px 0 10px lightgray;
}
#qa-nav-main.active .qa-nav-main{
	display: block;
}
.qa-nav-main-list{
	list-style: none;
	width: 100%;
}
.qa-nav-main-item{
	margin: 30px;
	width: 100%;
}
.qa-nav-main-link{
	padding: 15px 20px;
	width: 100%;
}

.qa-nav-main-link::before{
	font-family: "Material Icons";
	font-size: 24px;
    position: absolute;
    margin-left: -36px;
    margin-top: -3px;
}
.qa-nav-main-activity .qa-nav-main-link::before{content: "bar_chart";}
.qa-nav-main-questions .qa-nav-main-link::before{content: "chat";}
.qa-nav-main-hot .qa-nav-main-link::before{content: "local_fire_department";}
.qa-nav-main-unanswered .qa-nav-main-link::before{content: "speaker_notes_off";}
.qa-nav-main-tag .qa-nav-main-link::before{content: "local_offer";}
.qa-nav-main-categories .qa-nav-main-link::before{content: "category";}
.qa-nav-main-user .qa-nav-main-link::before{content: "groups";}
.qa-nav-main-ask .qa-nav-main-link::before{content: "question_answer";}
.qa-nav-main-admin .qa-nav-main-link::before{content: "admin_panel_settings";}

.qa-nav-user-link::before{
	font-family: "Material Icons";
	font-size: 24px;
    position: absolute;
    margin-left: -36px;
    margin-top: -3px;
}
.qa-nav-user-updates .qa-nav-user-link::before{content: "update";}
.qa-nav-user-logout .qa-nav-user-link::before{content: "logout";}
.qa-nav-user-login .qa-nav-user-link::before{content: "login";}
.qa-nav-user-register .qa-nav-user-link::before{content: "person_add";}

.qa-nav-sub{

}
.qa-nav-sub-clear{
	height: 42px;
}
.qa-nav-sub-list{
	position: fixed;
	top: 56px;
	left: 0;
	width: 100%;
	background-color: var(--primary);
	display: flex;
	overflow: hidden;
	overflow-x: auto;
	list-style: none;
	box-shadow: 0 2px 3px gray;
}
.qa-nav-sub-item{
	min-width: max-content;
	padding: 10px 0 12px 0;
}
.qa-nav-sub-link{
	min-width: max-content;
	padding: 10px;
	color: white;
}
.qa-nav-sub-link.qa-nav-sub-selected{
	border-bottom: 3px solid white;
}

/* sidepanel */
.qa-sidepanel{
	display: none;
}

/* questions list */
.qa-q-list-item{
	border-radius: 10px;
	box-shadow: 1px 1px 5px lightgray;
	margin: 5px;
	background-color: white;
	padding: 10px;
}
.qa-q-item-title{
	font-weight: bold;
	margin-bottom: 5px;
}
.qa-q-item-avatar-meta{
	font-size: .9em;
}
.qa-q-item-when, .qa-q-item-where-data, .qa-q-item-who-data{
	font-weight: 500;
}
.qa-q-item-tag-list{
	list-style: none;
	display: flex;
	margin-top: 10px;
}
.qa-q-item-tag-item{
	background-color: var(--secondary);
	border-radius: 3px;
	width: min-content;
	padding: 2px 0;
	margin-right: 5px;
}
.qa-tag-link{
	padding: 2px 5px;
	color: var(--on-secondary);
	font-size: .9em;
}
.qa-q-item-stats{
	width: calc(100% + 20px);
	border-top: 1px solid gray;
	margin: 10px 0 -10px -10px;
	border-radius: 0 0 10px 10px;
	display: flex;
}
.qa-voting{
	display: flex;
}
.qa-vote-count, .qa-a-count{
	padding: 10px;
}

/* question page */
.qa-main-heading h1{
	font-size: 24px;
}

/* fab */
.qam-ask{
	background-color: var(--secondary);
    color: var(--on-secondary);
    border-radius: 20px;
    padding: 10px 15px;
    position: fixed;
    bottom: 15px;
	right: 15px;
	box-shadow: 1px 1px 10px gray;
}
.qam-ask .material-icons{
    margin-right: 5px;
}