/*
    Theme URI: https://github.com/MominRaza/Mayro
	Theme Version: 0.004
    Theme Date: 2020-09-25
    Theme Author: Momin Raza
    Theme Author URI: https://github.com/MominRaza
    Theme License: _Short name of plugin license, e.g. GPLv2/3_
    Theme Update Check URI: https://github.com/MominRaza/Mayro/releases
*/

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');

:root{
	--primary:#673ab7;
	--primary-dark:#320b86;
	--primary-light: #9a67ea;
    --secondary: #ffab91;
	--secondary-dark: #c97b63;
	--secondary-light: #ffddc1;

    --background: #EEEEEE;
    --surface: #FFFFFF;
	--error: #d50000;

	--on-primary: #FFFFFF;
	--on-secondary: #000000;
	--on-background: #000000;
	--on-surface: #000000;
	--on-error: #FFFFFF;

	--link: #2980b9;
}

body{
	font-family: 'Roboto', sans-serif;
	background-color: var(--background);
	width: 100%;
	overflow: hidden;
	overflow-y: auto;
}
*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

a{
	color: var(--link);
	text-decoration: none;
}
input[type='text'], input[type='submit'], input[type='password'], select, textarea{
	width: 100%;
	padding: 5px 10px;
	font-size: 1.2em;
}
input[type='submit']{
	width: auto;
}
.qa-body-wrapper{

}

/* header */
.qa-header{
	
}
.qa-header-clear{
	height: 56px;
}
.qa-logo{
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 56px;
	padding-top: 13px;
	/* Mobile Landscape: 48dp
	Mobile Portrait: 56dp
	Tablet/Desktop: 64dp */
	background-color: var(--primary);
	box-shadow: 0 2px 3px gray;
    z-index: 1;
}
.qa-logo-link{
	margin-left: 60px;
	font-size: 24px;
	color: var(--on-primary);
}
#menu-toggle{
	position: fixed;
	top: 27px;
	left: 10px;
	color: var(--on-primary);
	font-size: 30px;
	cursor: pointer;
	z-index: 1;
}
#search-toggle{
	position: fixed;
	top: 27px;
	right: 50px;
	color: var(--on-primary);
	font-size: 30px;
	z-index: 2;
	cursor: pointer;
}
#user-toggle{
	position: fixed;
	top: 10px;
	right: 10px;
	color: var(--on-primary);
	font-size: 30px;
	width: 36px;
	height: 36px;
	overflow: hidden;
	border-radius: 50%;
	border: 2px solid var(--on-primary);
	cursor: pointer;
	z-index: 1;
}
#user-toggle img{
	width: 100%;
	height: auto;
}
#user-toggle i{
	font-size: 36px;
	margin-left: -2px;
}
#search-toggle.active{
	left: 10px;
}
.qa-nav-user, .qa-search, .qa-nav-main{
	display: none;
}
.qa-nav-user{
	position: fixed;
	top: 40%;
	left: 50%;
	transform: translate(-50%, -50%);
	background-color: var(--surface);
	padding: 20px;
	border-radius: 20px;
	box-shadow: 1px 1px 10px grey;
	width: 300px;
	height: 50vh;
	z-index: 1;
}
#qa-nav-user.active .qa-nav-user{
	display: block;
}
.qa-nav-user-list{
	list-style: none;
}
.qa-nav-user-item{
	padding: 10px;
}
.qa-nav-user-link{
	padding: 10px 20px;
	color: var(--on-surface);
}
.qa-search{
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	background-color: var(--primary);
	height: 56px;
	z-index: 1;
}
#qa-search.active .qa-search{
	display: block;
}
.qa-search-field, .qa-search-button{
	padding: 10px !important;
	margin-top: 10px;
	border: none;
}
.qa-search-field{
	margin-top: 5px;
	margin-left: 45px;
	width: calc(100% - 99px) !important;
	background-color: unset;
	font-size: 20px;
}
.qa-search-button{
	width: 30px;
	background-color: unset;
	color: var(--on-primary);
}
.qa-search-button i{
	font-size: 30px;
}
.qa-nav-main{
	z-index: 2;
	position: fixed;
	top: 56px;
	left: 0;
	width: 300px;
	height: 100vh;
	background-color: var(--surface);
	box-shadow: 1px 0 10px lightgray;
}
#qa-nav-main.active .qa-nav-main{
	display: block;
}
.qa-nav-main-list{
	list-style: none;
	width: 100%;
}
.qa-nav-main-item{
	margin: 30px;
	width: 100%;
}
.qa-nav-main-link{
	padding: 15px 30px;
	width: 100%;
	color: var(--on-surface);
}

.qa-nav-main-link::before{
	font-family: "Material Icons";
	font-size: 24px;
    position: absolute;
    margin-left: -46px;
    margin-top: -3px;
}
.qa-nav-main-activity .qa-nav-main-link::before{content: "bar_chart";}
.qa-nav-main-questions .qa-nav-main-link::before{content: "chat";}
.qa-nav-main-hot .qa-nav-main-link::before{content: "local_fire_department";}
.qa-nav-main-unanswered .qa-nav-main-link::before{content: "speaker_notes_off";}
.qa-nav-main-tag .qa-nav-main-link::before{content: "local_offer";}
.qa-nav-main-categories .qa-nav-main-link::before{content: "category";}
.qa-nav-main-user .qa-nav-main-link::before{content: "groups";}
.qa-nav-main-ask .qa-nav-main-link::before{content: "question_answer";}
.qa-nav-main-admin .qa-nav-main-link::before{content: "admin_panel_settings";}

.qa-nav-user-link::before{
	font-family: "Material Icons";
	font-size: 24px;
    position: absolute;
    margin-left: -36px;
    margin-top: -3px;
}
.qa-nav-user-updates .qa-nav-user-link::before{content: "update";}
.qa-nav-user-logout .qa-nav-user-link::before{content: "logout";}
.qa-nav-user-login .qa-nav-user-link::before{content: "login";}
.qa-nav-user-register .qa-nav-user-link::before{content: "person_add";}

.qa-favorite-image{
	padding: 3px;
}
.qa-favorite-image::before{
	font-family: "Material Icons";
	color: var(--link);
    position: absolute;
    margin-left: -6px;
	margin-top: 2px;
	content: "star_border";
}
.qa-nav-sub{

}
.qa-nav-sub-clear{
	height: 42px;
}
.qa-nav-sub-list{
	position: fixed;
	top: 55px;
	left: 0;
	width: 100%;
	background-color: var(--primary);
	display: flex;
	overflow: hidden;
	overflow-x: auto;
	list-style: none;
	box-shadow: 0 2px 3px gray;
	z-index: 1;
}
.qa-nav-sub-list::-webkit-scrollbar,
.qa-q-item-tag-list::-webkit-scrollbar{
	display: none;
}
@media(min-width:768px){
	.qa-nav-sub-list::-webkit-scrollbar,
	.qa-q-item-tag-list::-webkit-scrollbar{
		height: 3px;
	}
	.qa-nav-sub-list::-webkit-scrollbar-thumb,
	.qa-q-item-tag-list::-webkit-scrollbar-thumb{
		background-color: var(--secondary-light);
	}
}
.qa-nav-sub-item{
	min-width: max-content;
	padding: 10px 0 13px 0;
}
.qa-nav-sub-link{
	min-width: max-content;
	padding: 10px;
	color: var(--on-primary);
}
.qa-nav-sub-link.qa-nav-sub-selected{
	border-bottom: 3px solid var(--on-primary);
}

/* sidepanel */
.qa-sidepanel{
	/* display: none; */
}

.qa-sidebar, .qa-widget-side{
	margin: 10px 0;
	background-color: var(--surface);
	padding: 16px 16px 8px 16px;
	border-radius: 4px;
	box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2),
				0px 1px 1px 0px rgba(0, 0, 0, 0.14),
				0px 1px 3px 0px rgba(0,0,0,.12);
}
.qa-sidebar{
	background-color: var(--secondary-light);
}
.qa-activity-count{
	display: flex;
	flex-wrap: wrap;
}
.qa-activity-count-item{
	flex: 1;
	margin: 10px;
	text-align: center;
}
.qa-activity-count-item span{
	display: block;
	font-size: 1.3em;
	font-weight: 500;
}
/* qa-main */

.qa-sidepanel, .qa-main{
	padding: 0 10px;
}

@media(min-width: 768px){
	.qam-main-sidepanel{
		display: flex;
		justify-content: center;
	}
	.qa-main{
		width: calc(100% - 400px);
		max-width: 1000px;
		/* margin: 0 auto; */
	}
	.qa-sidepanel{
		width: 400px;
		/* margin: 0 auto; */
	}
}

.qa-main-heading,
#a_list_title,
.qa-widget-main h2,
.qa-part-form-2 h2{
	margin-top: 20px;
	margin-bottom: 10px;
}

/* questions list */
.qa-q-list-item{
	margin: 10px 0;
	background-color: var(--surface);
	padding: 16px 16px 0 16px;
	border-radius: 4px;
	box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2),
				0px 1px 1px 0px rgba(0, 0, 0, 0.14),
				0px 1px 3px 0px rgba(0,0,0,.12);
}
.qa-q-item-title{
	font-size: 1.25rem;
	/* line-height: 2rem; */
    font-weight: 500;
    letter-spacing: 0.0125em;
	margin-bottom: 5px;
	/* margin-left: 50px; */
}
.qa-q-item-title a{
	color: var(--on-surface);
}
.qam-q-post-meta{
	min-height: 60px;
	padding-left: 56px;
}
.qa-q-item-avatar-meta{
	font-size: 1rem;
    line-height: 1.25rem;
    font-weight: 400;
	letter-spacing: 0.03125em;
}
.qa-q-item-meta{
	/* margin-left: 50px; */
	/* position: absolute; */
}
.qa-q-item-avatar-meta .qa-avatar-link{
	position: absolute;
	height: 46px;
	width: 46px;
	margin-left: -56px;
	border-radius: 50%;
	overflow: hidden;
}
.qa-avatar-image{
	width: 100%;
	height: auto;
}
.qa-q-item-when, .qa-q-item-where-data, .qa-q-item-who-data{
	font-weight: 500;
}
/* tags */
.qa-q-item-tag-list,
.qa-q-view-tag-list{
	list-style: none;
	display: flex;
	margin-top: 14px;
	margin-bottom: 20px;
	overflow: hidden;
	overflow-x: auto;
}
.qa-q-item-tag-item,
.qa-q-view-tag-item{
	background-color: var(--secondary);
	border-radius: 20px;
	width: min-content;
	padding: 6px 0;
	margin-right: 8px;
	height: 32px;
	min-width: max-content;
}
.qa-tag-link{
	padding: 6px 12px;
	border-radius: 20px;
	color: var(--on-secondary);
	/* font-size: .9em; */
}

.qa-q-item-stats{
	width: calc(100% + 20px);
	display: flex;
	text-transform: uppercase;
	color: var(--link);
	min-height: 42px;
    margin: 0;
    /* padding: 8px; */
    border-top: 1px solid transparent;
}
.qa-voting{
	display: flex;
}
.qa-vote-count, .qa-a-count{
	padding: 10px;
}

.qa-suggest-next{
	margin-bottom: 20px;
}
/* question page */
.qa-main-heading h1{
	font-size: 24px;
}

/* fab */
.qam-ask{
    z-index: 1;
	background-color: var(--secondary);
    color: var(--on-secondary);
    border-radius: 20px;
    padding: 10px 0;
    position: fixed;
    bottom: 15px;
	right: 15px;
	box-shadow: 1px 1px 10px gray;
}
.qam-ask-link{
	padding: 10px 15px;
	border-radius: 20px;
	color: var(--on-secondary);
}
.qam-ask .material-icons{
    margin-right: 5px;
}

/* footer */
.qa-footer{
	margin-top: 50px;
	padding: 10px;
}

/* form */
.qa-form-tall-label{
	padding-top: 20px;
}
.qa-form-tall-data{
	padding-top: 10px;
}
.qa-form-tall-buttons{
	padding-top: 20px;
}

.qa-form-tall-error{
	color: var(--error);
}

.qa-form-tall-button,
.qa-form-wide-button,
.qa-form-basic-button{
	border: none;
	border-radius: 2px;
}
.qa-form-tall-button-save,
.qa-form-wide-button-save,
.qa-form-wide-button-saverecalc,
.qa-form-wide-button-dosave,
.qa-form-tall-button-0,
.qa-form-tall-button-ask,
.qa-form-tall-button-login,
.qa-form-tall-button-register,
.qa-form-wide-button-setbonus,
.qa-form-tall-button-post,
.qa-form-wide-button-edit,
.qa-form-wide-button-unblock,
.qa-form-wide-button-change{
	background-color: var(--primary-dark);
	color: var(--on-primary);
}
.qa-form-tall-button-reset,
.qa-form-wide-button-reset,
.qa-form-tall-button-addpage,
.qa-form-tall-button-addlink,
.qa-form-wide-button-showdefaults,
.qa-form-basic-button,
.qa-form-tall-button-add,
.qa-form-tall-button-cancel,
.qa-form-wide-button-block,
.qa-form-wide-button-hideall{
	background-color: var(--secondary);
	color: var(--on-secondary);
}
.qa-form-wide-button-delete_expired,
.qa-form-wide-button-delete_all,
.qa-form-wide-button-delete{
	margin-top: 20px;
	background-color: var(--error);
	color: var(--on-error);
}
.qa-form-basic-button{
	margin-top: 20px;
}

/* question view */

.qa-part-q-view, .qa-a-list-item{
	border-radius: 10px;
	box-shadow: 1px 1px 5px lightgray;
	margin: 10px 0;
	background-color: var(--surface);
	padding: 10px;
}

/* error */
.qa-error{
	background-color: var(--error);
	color: var(--on-error);
	padding: 10px;
	margin-bottom: 10px;
}
.qa-error a{
	color: var(--primary-light);
}

/* user */
.qa-form-wide-label{
	font-weight: bold;
	margin-top: 20px;
}