@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');



body{
	font-family: 'Roboto', sans-serif;
	background-color: rgb(221, 221, 221);
}
*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

a{
	color: unset;
	text-decoration: none;
}
.qa-body-wrapper{

}

/* header */
.qa-header{
	
}
.qa-header-clear{
	height: 56px;
}
.qa-logo{
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 56px;
	padding-top: 12px;
	/* Mobile Landscape: 48dp
	Mobile Portrait: 56dp
	Tablet/Desktop: 64dp */
	background-color: blue;
}
.qa-logo-link{
	margin-top: 12px;
	margin-left: 40px;
	font-size: 24px;
	color: white;
}
.qa-nav-user, .qa-search, .qa-nav-main{
	display: none;
}
.qa-nav-user{
	/* display: block; */
	position: fixed;
	top: 40%;
	left: 50%;
	transform: translate(-50%, -50%);
	background-color: white;
	padding: 20px;
	border-radius: 20px;
	box-shadow: 1px 1px 10px grey;
	width: 300px;
	height: 50vh;
}
.qa-nav-user-list{
	list-style: none;
}
.qa-nav-user-item{
	padding: 10px;
}
.qa-nav-user-link{
	padding: 10px 20px;
}
.qa-search{
	display: block;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	background-color: blue;
	height: 56px;
}
.qa-search-field, .qa-search-button{
	padding: 10px;
	margin-top: 10px;
	border: none;
}
.qa-search-field{
	margin-left: 10px;
	width: calc(84% - 10px);
	border-bottom: 1px solid black;
}
.qa-search-button{
	margin-right: 10px;
	width: calc(15% - 10px);
}
.qa-nav-main{
	z-index: 2;
	/* display: block; */
	position: fixed;
	top: 56px;
	left: 0;
	width: 300px;
	height: 100vh;
	background-color: white;
	box-shadow: 1px 0 10px lightgray;
}
.qa-nav-main-list{
	list-style: none;
	width: 100%;
}
.qa-nav-main-item{
	margin: 20px;
	width: 100%;
}
.qa-nav-main-link{
	padding: 10px 20px;
	width: 100%;
}
.qa-nav-sub{

}
.qa-nav-sub-clear{
	height: 40px;
}
.qa-nav-sub-list{
	position: fixed;
	top: 56px;
	left: 0;
	width: calc(100% + 1px);
	background-color: rgb(51, 51, 226);
	display: flex;
	overflow: hidden;
	overflow-x: auto;
	list-style: none;
}
.qa-nav-sub-item{
	min-width: max-content;
	padding: 10px 0;
}
.qa-nav-sub-link{
	min-width: max-content;
	padding: 10px;
	color: white;
}

/* sidepanel */
.qa-sidepanel{
	display: none;
}

/* questions list */
.qa-q-list-item{
	border-radius: 10px;
	box-shadow: 1px 1px 5px lightgray;
	margin: 5px;
	background-color: white;
	padding: 10px;
}
.qa-q-item-title{
	font-weight: bold;
	margin-bottom: 5px;
}
.qa-q-item-avatar-meta{
	font-size: .9em;
}
.qa-q-item-when, .qa-q-item-where-data, .qa-q-item-who-data{
	font-weight: 500;
}
.qa-q-item-tag-list{
	list-style: none;
	display: flex;
	margin-top: 10px;
}
.qa-q-item-tag-item{
	background-color: grey;
	border-radius: 3px;
	width: min-content;
	padding: 2px 0;
	margin-right: 5px;
}
.qa-tag-link{
	padding: 2px 5px;
	color: white;
	font-size: .9em;
}
.qa-q-item-stats{
	width: calc(100% + 20px);
	border-top: 1px solid gray;
	margin: 10px 0 -10px -10px;
	border-radius: 0 0 10px 10px;
	display: flex;
}
.qa-voting{
	display: flex;
}
.qa-vote-count, .qa-a-count{
	padding: 10px;
}

/* question page */
.qa-main-heading h1{
	font-size: 24px;
}